<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="home">HOME</a>
        <div class="nav-right-side">
            <a class="nav-right-item" href="about">ABOUT</a>
            <a class="nav-right-item" href="works">WORKS</a>
        </div>
    </nav>
    <section>
        <h1>BARACK OBAMA'S OFFICIAL PAGE</h1>
        <img class="obama-img" src="obama.jpg" alt="">
    </section>
</body>
</html>