<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="home">HOME</a>
        <div class="nav-right-side">
            <a class="nav-right-item" href="about">ABOUT</a>
            <a class="nav-right-item" href="works">WORKS</a>
        </div>
    </nav>
    <section>
        <ul>
            <iframe src="https://giphy.com/embed/sFMDqop2ku4M0" width="480" height="338" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-animated-usa-sFMDqop2ku4M0"></a></p>

            <li>A PROMISED LAND</li>
            <li>DREAMS FROM MY FATHER</li>
            <li>of THEE i SING</li>
            <li>RENEGADES</li>
        </ul>
    </section>
</body>
</html>